absl-py
asn1crypto
astroid
astropy
astunparse
atomicwrites
Babel==2.8.0
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
bitarray
bkcharts
bleach
bokeh
boto==2.49.0
Bottleneck
cachetools
certifi==2019.11.28
cffi==1.14.0
chardet
Click
cloudpickle
clyent
colorama
comtypes
contextlib2==0.6.0.post1
cryptography
cycler
Cython
cytoolz
dask
decorator
defusedxml
diff-match-patch
distributed
docutils
entrypoints
et-xmlfile
fastcache
filelock
flake8
Flask==1.1.1
fsspec
future
gast
gevent
glob2
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio==1.30.0rc1
h5py==2.10.0
HeapDict
html5lib
hypothesis
idna
imageio
imagesize
importlib-metadata
intervaltree
isort
itsdangerous
jdcal
jedi
joblib
jsonschema
Keras-Preprocessing==1.1.2
keyring==21.1.0
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml
Markdown
MarkupSafe
matplotlib==3.2.2
multipledispatch
numba
numexpr
numpy==1.18.1
numpydoc
oauthlib
olefile
opencv-python==4.2.0.34
openpyxl
opt-einsum
packaging
pandas
pandocfilters
paramiko
parso
partd
path==13.1.0
pathlib2
pathtools
patsy
pexpect
pickleshare
Pillow==7.1.2
pkginfo
pluggy
ply
prometheus-client
prompt-toolkit
protobuf==3.12.2
pyOpenSSL==19.1.0
pyparsing
pyreadline
pyrsistent
pytz
PyWavelets
PyYAML
pyzmq==18.1.1
requests
requests-oauthlib
rope
rsa
scikit-image
scikit-learn
scipy==1.4.1
seaborn
Send2Trash
simplegeneric
singledispatch
six==1.14.0
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor
terminado
testpath
tf-slim==1.1.0
toolz
tornado
tqdm
traitlets
ujson
unicodecsv
urllib3
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wrapt
xlrd
XlsxWriter
xlwt
xmltodict
yapf
zict
zipp
