
Babel==2.8.0
boto==2.49.0
contextlib2==0.6.0.post1
entrypoints
Flask==1.1.1
flask_swagger
flask-swagger-ui
future
grpcio==1.30.0rc1
h5py==2.10.0
imageio
imagesize
importlib-metadata
jsonschema
Keras-Preprocessing==1.1.2
keyring==21.1.0
matplotlib==3.2.2
numpy==1.18.1
numpydoc
opencv-python==4.2.0.34
pandas
path==13.1.0
pathlib2
pathtools
Pillow==7.1.2
protobuf==3.12.2
pyOpenSSL==19.1.0
PyYAML
pyzmq==18.1.1
requests
requests-oauthlib
scikit-image
scikit-learn
scipy==1.4.1
six==1.14.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tf-slim==1.1.0
urllib3
zipp
dataclasses
pymongo